# ShipStation
SHIPSTATION_API_KEY=
SHIPSTATION_API_SECRET=
SHIPSTATION_V2_API_KEY=

# Prosol
PROSOL_EMAIL=
PROSOL_PASSWORD=

# Canada Post
CANADA_POST_CUSTOMER_NUMBER=
CANADA_POST_API_KEY=
CANADA_POST_API_SECRET=

# Salesforce
SALESFORCE_USERNAME=
SALESFORCE_PASSWORD=
SALESFORCE_SECURITY_TOKEN=
SALESFORCE_LOGIN_URL=https://login.salesforce.com

# Shopify
SHOPIFY_STORE=
SHOPIFY_ACCESS_TOKEN=
